/* hero section */

.hero{
    width: 100%;
    display: flex;
    height: 800px;
}

.hero h1{
    display: grid;
    place-items: center;
    width: 30%;
    writing-mode: vertical-rl;
    background: url(img/blob-haikei.png) center center no-repeat;
    color: var(--clr-white);
}

.img-container {
    display:flex;
    overflow: hidden;
    width: calc(450px*10);
    max-width: 70%;
    align-items: center;
}

@keyframes slideScroll {
    100%{
        transform: translateX(calc(-450px*5));
    }
}

.hero-container{
    position: relative;
}

.hero img{
    height: auto;
    width: 450px;
    height: 700px;
    padding: 0 10px;
    object-fit: cover;
    display: block;
    animation: slideScroll 30s linear infinite;
}



/* about us */

.about-us {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/about_us_bg.jpg) center center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 50vh;
    position: relative;
}


.about-us .text {
    color: var(--clr-white);
    font-size: 1.5rem;
    line-height: 1.8;
    letter-spacing: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* features */


.features-content{ 
width: 400px;
text-align: center;
}
.features-content img{
    max-height: 500px;
    max-width: 450px;
    border-radius: 200px 200px 0 0;
    max-width: 100%;
}

.features.flex{
    align-items: flex-end;
}

/* seasonal flowers */

.flowers-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.product-wrapper h4{
    opacity: 0;
    color: var(--clr-white);
    font-size: 1.2rem;
}

.product-wrapper:hover h4{
    opacity: 1;
    transition:all 0.4s ease-in;
}

.product-wrapper{
    height: 450px;
    max-width: 400px;
  
}

.product-wrapper.soap{
    background: url(img/seasonal01.jpeg) center;
}
.product-wrapper.soap:hover{
    background: linear-gradient(90deg, rgba(208,206,209,0.4) 0%, rgba(153,143,134,0.4) 100%), url(img/seasonal01.jpeg) center;
}

.product-wrapper.flower{
    background:url(img/seasonal03.jpeg) center;
    border-radius: 300px;}
.product-wrapper.flower:hover{
    background: linear-gradient(90deg, rgba(253,29,29,0.4) 9%, rgba(252,176,69,0.4) 100%), url(img/seasonal03.jpeg) center;
}

.product-wrapper.rose{
    background: url(img/seasonal02.jpeg) center;
}
.product-wrapper.rose:hover{
    background: linear-gradient(354deg, rgba(238,174,202,0.8) 0%, rgba(255,255,255,0.5) 100%), url(img/seasonal02.jpeg) center;
}



/* news */

.news-wrapper{
    position: relative;
}


.pre-btn, .nxt-btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nxt-btn{
    right: 0;
}



.news{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    width: 60vw;
    margin: auto;
}


.news img{
    max-width: 100%;
    height: auto;
}

.news .news-text{
    display: grid;
    max-width: inherit;
}

.news h4{
    font-size: 1.2rem;
}

.news .action{
    width: max-content;
    height: min-content;
    align-self: flex-end;
    padding: 0.5rem 1rem;
    border: 1px solid var(--anchor-text);
}




.dot {
    cursor: pointer;
    height: 0.6rem;
    width: 0.6rem;
    margin:0 8px;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }


  /* news slider */

.fire, .dot:hover {
    background-color: #717171;
  }


.news {
    display: none;
}

/* review */

.img-wrapper {
    width: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    justify-content: center;
    overflow: hidden;
}

.review-container .wavy span{
    display: inline-block;
    animation: animate 2s ease-in-out infinite;
    animation-delay: calc(0.2s * var(--i));
    font-size: 1.2rem;
    color: var(--light-bg);
}

.review-container p {
    display: inline-block;
}

@keyframes animate {
    0%{
        transform: translate(0px);
    }
    20%{
        transform: translateY(-10px);
    }
    40%, 100%{
        transform: translateY(0px);
    }
}

.review-container>p{
    letter-spacing: 2;
}



.img-wrapper img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    overflow: hidden;
}


/* pop up */
.img-wrapper>img{
    cursor: pointer;
}

.img-wrapper>img:hover{
    opacity: .7;
    transition: 0.4s;
}

.modal span, .modal p{
    color: #666;
}

.modal{
    width: 600px;
    height: 500px;

}

.review{
    padding: 1rem;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #666;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.review .left{
    display: block;
    max-width: 100%;
    object-fit: cover;
    height: auto;
} 

.review .title img{
    width: 2rem;
    margin-right: 1rem;
}

.review .title{
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #666;
    margin-bottom: 1rem;
    position: relative;
}

.review .cross{
    font-size: 2rem;
    display: block;
    cursor: pointer;
    color: #666;
    position: absolute;
    right: 0;
    top:0;
}

.cross:hover{
    transform: rotate(90deg);
    transition:  0.4s;
}


.review .text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.review .text p,.review .text a.hash {flex:1 ;}


a.hash{
    color: revert;
}


.icon{
    display: flex;

}

.icon img{
    width: 1.8rem;
    margin-right: 1rem;
}

.icon span{
    font-size: 1.8rem;
    display: inline-block;
    cursor: pointer;
    color: #333;
}


/* popup */
.review-container{
    position: relative;
}

.modal{
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal.on{
    height: auto;
    animation: fade 0.6s ease;
} 

@keyframes fade {
    from{
        opacity: 0.3;;
    }
    to{
        opacity: 1;
    }
}


/* access */
.access-wrapper {
    background: url(img/shop.webp) no-repeat center;
    background-size: contain;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: flex-end center;
    grid-gap: 2rem;
}


.access-item {
    width: 270px;
    height: 250px;
    background-color: rgba(255,255,255,0.8);
    box-shadow: var(--dk-shadow);
    text-align: center;
    margin-bottom: -10rem;
    display: grid;
    place-items: center;
    letter-spacing: 2;
}

.access-item h5{
    font-size: 1.2rem;
}

.access-item span{
    font-size: 3rem;
}

.access-item p .access-item address{
    line-height: 2;
}

@media(max-width:1300px) {
    .access-wrapper{
    grid-template-columns: repeat(2, 1fr);
    place-items: center center;
    background-size: cover;}

    .access-item{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 320px;
        height: 200px;
        margin-bottom: 0;
    }

}/*==================max-width:1000px ====================*/



@media(max-width:920px) {
    .hero h1 {width: 40%;}

    .img-container{width: 60%;}

    .about-us{grid-template-columns: 1fr;}

    .about-us .text{
        line-height: 1.2;
        letter-spacing: 5;
    }

    .about-us a{
        text-align: center;
        margin-top: 3rem;
    }


    .features.flex{
        flex-direction: column;
        align-items: center;
    }

    .features div {margin-bottom: 3rem;}

    .flowers-wrapper{
        grid-template-columns: 1fr;
        place-items: center;
    }


    .product-wrapper{margin-bottom: 2rem;}

    .product-wrapper h4{
        opacity: 1;
        color: var(--clr-white);
        font-size: 1.2rem;
    }
    
    .product-wrapper.soap{
        background:  linear-gradient(90deg, rgba(208,206,209,0.4) 0%, rgba(153,143,134,0.4) 100%), url(img/seasonal01.jpeg) center;
    }
    
    .product-wrapper.flower{
        background: linear-gradient(90deg, rgba(253,29,29,0.4) 9%, rgba(252,176,69,0.4) 100%), url(img/seasonal03.jpeg) center;
    }

    .product-wrapper.rose{
        background: linear-gradient(354deg, rgba(238,174,202,0.8) 0%, rgba(255,255,255,0.5) 100%), url(img/seasonal02.jpeg) center;
    }

    .review-container p {
        display: block;
        margin-top: 1rem;
    }
    .img-wrapper{grid-template-columns: repeat(2, 1fr)}

    .review{
        grid-template-columns: 1fr;
        width: fit-content;
        grid-gap: 2rem;
        width: 50%;
    }
    .modal{

        transform: translate(-25%,-50%);
    }
  

    .access-wrapper{
        display: grid;
        height: 100%;
        grid-template-columns: 1fr;
    }


}/*=============== max-width:920px ====================*/



@media(max-width:650px) {
    .hero h1{
        background-size: contain;
        color: var(--anchor-text);
    } 

.about-us .text {
        left: 0;
        transform: translate(0, -50%);
        font-size: 1rem;
    }

    .news {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
    
    .news .news-text>*:not(:first-child){
        display: none;
    }

    .news .news-text{
        height: max-content;
        width: auto;
        margin-left: 0;
        margin-top: 1rem;
    }

}/*=============== max-width:500px ====================*/
